<section>
    <div class="item">
        <h2 class="title">Professional Experience</h2>
    </div>
    <div class="item">
        <h3 class="title">Custom Web Development</h3>
        <p>Designed, developed, and deployed a production level website that was suited to the client's needs. Implemented using Node.js, Express, and AWS's Elastic Beanstalk. This is a journey I began in May 2022. <a href="https://www.youtube.com">Take a look! <i class="fa-solid fa-link"></i></a></p>
    </div>
    <div class="item">
        <h3 class="title">Wordpress Development</h3>
        <p></p>
        <p>Since July 2021, I have acted as sole developer for a production Wordpress site. Additionally, I manage implementation of new features and content.</p>
    </div>
</section>
<section>
    <div class="item">
        <h2 class="title">Education</h2>
    </div>
    <div class="item">
        <h3 class="title">B.S. in Computer Science</h3>
        <p>I am currently attending Oregon State University's Corvallis campus.</p>
    </div>
</section>