<main>
    <section>
        <div class="item">
            <h2 class="title">About Me</h2>
        </div>
        <div class="item">
            <p>
                My name is Hunter Sutton and I am currently pursuing a Bachelor's Degree in Computer Science at Oregon State University. I am currently operating a freelance web development business as well. In my freetime I like to hike, workout, and read. I love learning new things and doing anything outside.
            </p>
        </div>
    </section>
    <section>
        <div class="item">
            <h2 class="title">Professional Experience</h2>
        </div>
        <div class="item">
            <h3 class="title">Custom Web Development</h3>
            <p>Designed, developed, and deployed a production level website that was suited to the client's needs. I implemented this using Node.js, Express, and AWS's Elastic Beanstalk. This project taught me how to communicate with clients and familiarized me with AWS. <a href="https://www.youtube.com">Take a look! <i class="fa-solid fa-link"></i></a></p>
        </div>
        <div class="item">
            <h3 class="title">Wordpress Development</h3>
            <p></p>
            <p>Since July 2021, I have acted as sole developer for a production Wordpress site. Additionally, I manage implementation of new features and content.</p>
        </div>
    </section>
    <section>
        <div class="item">
            <h2 class="title">Github</h2>
        </div>
        <div class="item">
            {{!-- The following content in this div is created by the Github user lepture --}}
            <div class="github-card" data-github="hunter-sutton" data-width="100%" data-height="149" data-theme="default"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
    </section>
    <section>
        <div class="item">
            <h2 class="title">Education</h2>
        </div>
        <div class="item">
            <h3 class="title">B.S. in Computer Science - Oregon State University</h3>
            <p>I am currently attending Oregon State University's Corvallis campus.I have spent time studying, algorithms, web development, math, and much more. Attending university has taught me time management and communication skills that I will use for the rest of my life.</p>
        </div>
    </section>
</main>